<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
    <!-- Other existing meta tags -->
    <meta property="og:title" content="Neuroimaging of Epilepsy Worldwide">
    <meta property="og:description" content="A community-powered platform for trainees, researchers, and clinicians interested in neuroimaging of epilepsy.">
    <meta property="og:image" content="{{ '/assets/img/icon@3x.png' | relative_url }}">
    <meta property="og:url" content="https://new-epilepsy.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Neuroimaging of Epilepsy Worldwide">
    <meta name="twitter:description" content="A community-powered platform for trainees, researchers, and clinicians interested in neuroimaging of epilepsy.">
    <meta name="twitter:image" content="{{ '/assets/img/icon@3x.png' | relative_url }}">
</head>