.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

.bolt {
}

.bolt color {
  color: #c38197;
  font-weight: 500;
}

.bolt color-blue {
  color: #015095;
  font-weight: 500;
}

hr.half-width{
  width:50%;
  margin: 0 auto;
}